/**
 * .footer-wrapper {
 *   margin: 6rem 0rem;
 *   display: flex;
 *   margin-top: 8rem;
 * }
 * 
 * .footer-wrapper .background-footer {
 *   position: absolute;
 *   z-index: -1;
 *   width: 1440px;
 *   padding-left: 0;
 * }
 * .footer-logo-container {
 *   max-width: 180px;
 * }
 * .footer-icons {
 *   margin-top: 2.5rem;
 *   display: flex;
 *   cursor: pointer;
 * }
 * .footer-icons svg {
 *   font-size: 1.5rem;
 *   margin-right: 1.25rem;
 *   color: #585858;
 * }
 * .footer-text p {
 *   color: white;
 * }
 * .footer-section-one {
 *   margin-left: 3%;
 * }
 * .footer-section-two {
 *   flex: 1;
 *   display: flex;
 *   justify-content: flex-end;
 * }
 * .footer-section-columns {
 *   display: flex;
 *   flex-direction: column;
 *   min-width: 190px;
 * }
 * .footer-section-columns span {
 *   margin: 0.25rem 0rem;
 *   font-weight: 600;
 *   color: white;
 *   cursor: pointer;
 * }
 * 
 *   }
 *   .footer-section-two {
 *     flex-direction: column;
 *     margin-top: 2rem;
 *   }
 *   .footer-section-columns {
 *     margin: 1rem 0rem;
 *   }
 * }
 *
 * @format
 * @media (max-width: 800px) { .footer-wrapper { flex-direction: column;
 */

.footer {
  /* position: relative;
  margin-top: 58px;
  max-width: 1440px; */
}

.background-footer img {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  padding: 0;
}

.footer .body {
  padding-top: 237px;
  display: flex;
  justify-content: space-between;
}

.footer .title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #d7dbff;
  margin-top: 33px;
}

.footer .title strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #d7dbff;
}

.footer .desc {
  margin-top: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #d7dbff;
}

.footer .contact-footer {
  display: flex;
  margin-top: 1px;
}

.footer .content-footer {
  margin-left: 31px;
}

.footer .contact-footer .phone {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #d7dbff;
}

.footer .contact-footer .mail {
  margin-left: 28px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #d7dbff;
}

.footer .pages span {
  font-weight: 600;
  font-size: 1.8rem;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.pages ul li {
  display: flex;
  margin-bottom: 5px;
}

.footer .pages .page-list {
  margin-top: 23px;
}

.footer .pages li {
  margin-bottom: 11px;
}

.footer .pages li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #d7dbff;
  margin-left: 12px;
}

.footer-footer {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-footer .socials {
  display: flex;
  gap: 50px;
  margin-top: 2.5rem;
  display: flex;
  cursor: pointer;
  color: white;
}
.footer-footer .socials svg {
  font-size: 25px;
}

.footer-footer .copy-right {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.1em;
  color: #d7dbff;
}
.ft-bt-bg img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -2;
  padding: 0 5px;
}

.footer .arrow-btn {
  position: absolute;
  bottom: 170px;
  right: 65px;
  z-index: 999;
  width: 36px;
  height: 36px;
  background: #ff64ae;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 800px) {
  .footer .body {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .footer {
    background-color: #091156;
  }
  .background-footer .logo {
    visibility: hidden;
  }
  .body .pages {
    margin-top: 20px;
    margin-left: 20px;
  }
  .logo-footer img {
    margin-left: 70px;
  }
  .footer .contact-footer {
    flex-direction: column;
  }
  .footer .contact-footer .mail {
    margin-left: 0px;
  }
  .footer .content-footer {
    margin-left: 20px;
  }
  .footer-footer {
    flex-direction: column;
  }
  .footer-footer .copy-right {
    margin-left: -10px;
    margin-top: 70px;
    font-size: 16px;
  }
  .footer .arrow-btn {
    /* bottom: 300px; */
    bottom: 0;
  }
  .ft-bt-bg img {
    z-index: -2;
  }
}
