/** @format */
.footer {
  width: 100%;
  padding: 0;
  margin: 0;
}
.background-footer img {
  position: absolute;
  right: 0;
  left: 0;
  width: 100%;
  z-index: -1;
  padding: 0;
}

.footer .body {
  padding-top: 207px;
  display: flex;
  justify-content: space-between;
}

.footer .title {
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #d7dbff;
  margin-top: 33px;
}

.footer .title strong {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #d7dbff;
}

.footer .desc {
  margin-top: 26px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #d7dbff;
}

.footer .contact-footer {
  display: flex;
  margin-top: 1px;
}

.footer .content-footer {
  margin-left: 31px;
}

.footer .contact-footer .phone {
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  color: #d7dbff;
}

.footer .contact-footer .mail {
  margin-left: 28px;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 0.1em;
  text-decoration-line: underline;
  color: #d7dbff;
}

.footer .pages span {
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;
  letter-spacing: 0.1em;
  color: #ffffff;
}
.pages ul li {
  display: flex;
  margin-bottom: 5px;
}

.footer .pages .page-list {
  margin-top: 23px;
}

.footer .pages li {
  margin-bottom: 11px;
}

.footer .pages li p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #d7dbff;
  margin-left: 12px;
}

.footer-footer {
  margin-top: 140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-footer .socials {
  display: flex;
  gap: 50px;
  margin-top: 2.5rem;
  display: flex;
  cursor: pointer;
  color: white;
}
.footer-footer .socials svg {
  font-size: 25px;
}

.footer-footer .copy-right {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.1em;
  color: #d7dbff;
}
.ft-bt-bg img {
  position: absolute;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -2;
}

@media (max-width: 800px) {
  .footer .body {
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
  }
  .footer {
    background-color: #091156;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .background-footer .logo {
    visibility: hidden;
  }
  .body .pages {
    margin-top: 20px;
    margin-left: 20px;
  }
  .logo-footer img {
    margin-left: 70px;
  }
  .footer .contact-footer {
    flex-direction: column;
  }
  .footer .contact-footer .mail {
    margin-left: 0px;
  }
  .footer .content-footer {
    margin-left: 20px;
  }
  .footer-footer {
    flex-direction: column;
  }
  .footer-footer .copy-right {
    margin-left: -10px;
    margin-top: 70px;
    font-size: 16px;
  }
  .footer .arrow-btn {
    /* bottom: 300px; */
    bottom: 0;
  }
  .ft-bt-bg img {
    z-index: -2;
  }
}
